<% provide :title, t("help") %>
<h1><%= t"help" %></h1>
<p>
  Get help on the <%= t("book_title") %> at the
  <%= link_to t("help_section"), "http://www.railstutorial.org/help" %>.
  To get help on this sample app, see the
  <em><%= link_to t("book_title"), "http://www.railstutorial.org/book" %></em>
  book</a>.
</p>
